<footer class="footer hero-grad">
  <div class="container">
    <div class="columns">
    <div class="column is-10">
      <h1 class="subtitle is-size-5" style="text-align:left; color: var(--black); ">
         <b>Get in Touch:</b> <a href="mailto:gperichetla3@gatech.edu" class = "textlink" style = "color: var(--black);">Email</a> • <a href="https://www.linkedin.com/in/guruduttperi/" class = "textlink" style = "color: var(--black);">LinkedIn</a>

       </h1>
     </div>
<!--
      <div class="column is-4">
 <p style="color: var(--black);"><b style="color: var(--black);">Get in Touch</b><br><br></p>

        <h1  class="subtitle is-6" style="color: var(--black);">
             Reach me at&nbsp;<a href="mailto:gperichetla3@gatech.edu" class = "textlink" style = "color: var(--black);"><b>gperichetla3@gatech.edu</b></a>.
             <br><br>
             <b style="color: var(--black);">© 2020 Design + Code by Gurudutt Perichetla</b>

</h1>
      </div>



      <div class="column is-3  ">
        <h1 class="subtitle is-6">
        <p style="color: var(--black);"><b style="color: var(--black);">Connect</b><br><br></p>
        <ul>
        <li><a href="https://www.linkedin.com/in/guruduttperi/" class = "textlink" style = "color: var(--black);">LinkedIn</a> </li> <li> <a href="https://open.spotify.com/artist/3s5cmywpL5c4WNgPU4KutH" class = "textlink" style = "color: var(--black);">Spotify</a> &nbsp; </li>
        <li><a href="https://dribbble.com/guruduttperi" class = "textlink" style = "color: var(--black);">Dribbble </a></li> <li> <a href="https://twitter.com/guruduttperi" class = "textlink" style = "color: var(--black);">Twitter</a></li>
      </ul>
      </h1>
      </div>



      <div class="column is-3">
        <h1  class="subtitle is-6" style="color: var(--black);">
          <b>Gurudutt</b><br><br>
          <ul>
            <li style="color: var(--black);">Designer.</li> <li style="color: var(--black);">Developer.</li>
            <li style="color: var(--black);">Engineer.</li> <li style="color: var(--black);">Musician.</li>
          </ul>
</h1>
      </div>

-->
    </div>

  </div>
</footer>
<script src="/assets/js/fonts.js"></script>
