<footer class="footer bkg-matrixbg">
  <div class="container">
    <div class="columns">

      <div class="column is-4">
 <p style="color: var(--coolgrey1);"><b style="color: var(--coolgrey1);">Get in Touch</b><br><br></p>

        <h1  class="subtitle is-6" style="color: var(--coolgrey1);">
             Reach me at&nbsp;<a href="mailto:gperichetla3@gatech.edu" class = "textlink" style = "color: var(--teal05);"><b>gperichetla3@gatech.edu</b></a>.
             <br><br>
             <b style="color: var(--coolgrey1);">© 2020 Design + Code by Gurudutt Perichetla</b>

</h1>
      </div>



      <div class="column is-3  ">
        <h1 class="subtitle is-6">
        <p style="color: var(--coolgrey1);"><b style="color: var(--coolgrey1);">Connect</b><br><br></p>
        <ul>
        <li><a href="https://www.linkedin.com/in/guruduttperi/" class = "textlink" style = "color: var(--teal05);">LinkedIn</a> </li> <li> <a href="https://open.spotify.com/artist/3s5cmywpL5c4WNgPU4KutH" class = "textlink" style = "color: var(--teal05);">Spotify</a> &nbsp; </li>
        <li><a href="https://dribbble.com/guruduttperi" class = "textlink" style = "color: var(--teal05);">Dribbble </a></li> <li> <a href="https://twitter.com/guruduttperi" class = "textlink" style = "color: var(--teal05);">Twitter</a></li>
      </ul>
      </h1>
      </div>



      <div class="column is-3">
        <h1  class="subtitle is-6" style="color: var(--coolgrey1);">
          <b>Gurudutt</b><br><br>
          <ul>
            <li style="color: var(--coolgrey1);">Designer.</li> <li style="color: var(--coolgrey1);">Developer.</li>
            <li style="color: var(--coolgrey1);">Engineer.</li> <li style="color: var(--coolgrey1);">Musician.</li>
          </ul>
</h1>
      </div>


    </div>

  </div>
</footer>
<script src="/assets/js/fonts.js"></script>
