<footer class="footer bkg-pacific-wind">
  <div class="container">
    <div class="columns">

      <div class="column is-4">
 <p style="color: var(--black);"><b style="color: var(--black);">Get in Touch</b><br><br></p>

        <h1  class="subtitle is-6">
             Reach me at&nbsp;<a href="mailto:gperichetla3@gatech.edu" class = "textlink"><b>gperichetla3@gatech.edu</b></a>.
            <!-- or book some time for a short video meeting via&nbsp;<a href="https://calendly.com/guruduttperi" class = "textlink"><b>Calendly</b></a>. -->
             <br><br>
             <b style="color: var(--black);">© 2021 Design + Code by Gurudutt Perichetla</b>

</h1>
      </div>

      <div class="column is-2 is-offset-2" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s; ">
        <h1  class="subtitle is-6">
          <b>Quick Links</b><br><br>
          <ul>
          <li>  <a href="/#selectedwork" class = "textlink">Work</a> </li>
          <li>  <a href="/music" class = "textlink">Music</a> </li>
          <li>  <a href="/about" class = "textlink">About</a> </li>
          <!--<li>  <a href="https://drive.google.com/file/d/1dYjgr8R52XppORxSYU8Cm8zpi1lDMW72/view?usp=sharing" class = "textlink"> Resume</a> </li> -->


          </ul>
</h1>
      </div>

      <div class="column is-2  ">
        <h1 class="subtitle is-6">
        <p style="color: var(--black);"><b style="color: var(--black);">Connect</b><br><br></p>
        <ul>
        <li><a href="https://www.linkedin.com/in/guruduttperi/" class = "textlink">LinkedIn</a> </li> <li> <a href="https://open.spotify.com/artist/3s5cmywpL5c4WNgPU4KutH" class = "textlink" style="">Spotify</a> &nbsp; </li>
        <li><a href="https://dribbble.com/guruduttperi" class = "textlink">Dribbble </a></li>
      </ul>
      </h1>
      </div>



      <div class="column is-2">
        <h1  class="subtitle is-6">
          <b>Gurudutt</b><br><br>
          <ul>
            <li>Designer.</li>
            <li>Engineer.</li> <li>Musician.</li>
          </ul>
</h1>
      </div>


    </div>

  </div>
</footer>
<script src="/assets/js/fonts.js"></script>
