<section class="hero  bkg-apple-grey " id="selectedwork" >
      <div class="hero-body">
        <div class="container ">

          <div class="columns is-centered">
            <div class="column is-12">
              <h1 class="title is-5" style="text-align:left; color: var(--black); ">
          <!--<b>S E L E C T E D &nbsp; W O R K </b> -->
          <b>All Work</b>
          </h1>
            </div>
          </div>

          <div class="columns is-centered" >

            <div class="column is-4">
      <a href="/work/waggle">
                <div class="card post" >
                  <div class="card-image">
                    <figure class="image ">
                      <img src="/assets/images/waggle/waggle_card_grad.png" alt="Waggle" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5">Waggle</p>

                    </div>

                    <div class="content">
                       <p class="subtitle is-5point5">Helping graduate students find and apply to research and teaching assistantships at Georgia Tech. </p>

                  <span class="tag waggle"><b>UX RESEARCH + DESIGN</b></span>
                  <span class="tag mark"><b>2019</b></span>
                    </div>
                  </div>
                </div>
      </a>
            </div>



            <div class="column is-4">
            <a href="/work/predator">
                <div class="card post">
                  <div class="card-image">
                    <figure class="image">
                      <img src="/assets/images/predator/predator_card_grad.png" alt="Georgia Aquarium's Predator" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5" style=" ">Georgia Aquarium's Predator</p>

                    </div>
                    <div class="content">
                     <p class="subtitle is-5point5">  An AR experience for the Magic Leap 1 to change the perception of sharks from fear to fascination. </p>

                <span class="tag aquarium"><b>AUGMENTED REALITY</b></span>
                <span class="tag mark"><b>2019</b></span>
                    </div>
                  </div>
                </div>
            </a>
            </div>



            <div class="column is-4 ">
              <a href="/work/spaces">
                <div class="card post">
                  <div class="card-image">
                    <figure class="image">
                      <img src="/assets/images/spaces/spaces_card_grad.png" alt="Spaces" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5" style=" ">Spaces</p>

                    </div>
                    <div class="content">
                     <p class="subtitle is-5point5">
                      Leveraging Facebook's ecosystem to help young adults find affordable and safe spaces to stay while traveling.
                       </p>

                <span class="tag spaces"><b>DESIGN SPRINT</b></span>
                <span class="tag mark"><b>2019</b></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>




      </div>



          <div class="columns  is-centered">

            <div class="column is-4">
            <a href="/work/ignitus">
                <div class="card post">
                  <div class="card-image">
                    <figure class="image">
                      <img src="/assets/images/ignitus/ignitus_card_grad.png" alt="Ignitus" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5" style=" ">Ignitus</p>

                    </div>
                    <div class="content">

                     <p class="subtitle is-5point5">  Connecting students with research internships and co-ops at top universities around the world. </p>

                <span class="tag ignitus"><b>INTERNSHIP</b></span>
                <span class="tag mark"><b>2018</b></span>
                    </div>
                  </div>
                </div>
            </a>
            </div>

            <div class="column is-4">
            <a href="#">
                <div class="card post">
                  <div class="card-image">
                    <figure class="image">
                      <img src="/assets/images/salesforce_card_grad.png" alt="Salesforce" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5" style=" ">Salesforce</p>

                    </div>
                    <div class="content">

                     <p class="subtitle is-5point5">  Standardizing the Digital Engagement setup experience using Lightning Design System principles.</p>

                <span class="tag salesforce"><b>INTERNSHIP</b></span>
                <span class="tag mark"><b>2020 • 🔒</b></span>
                    </div>
                  </div>
                </div>
            </a>
            </div>


            <div class="column is-4 ">
              <a href="#">
                <div class="card post">
                  <div class="card-image">
                    <figure class="image">
                      <img src="/assets/images/aso_nx.png" alt="ASO Feedback" class=" img-top-rounded">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">

                      <p class="title is-5" style=" ">ASO Feedback</p>

                    </div>
                    <div class="content">
                     <p class="subtitle is-5point5">  Multi-channel platform for the Atlanta Symphony Orchestra to capture and analyze audience feedback. </p>

                <span class="tag aso"><b>SERVICE DESIGN</b></span>
                <span class="tag mark"><b>2020 • COMING SOON</b></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            </div>

            <div class="columns  is-centered">


                            <div class="column is-4">
                            <a href="#">
                                <div class="card post">
                                  <div class="card-image">
                                    <figure class="image">
                                      <img src="/assets/images/classcade_card_grad.png" alt="classcade" class=" img-top-rounded">
                                    </figure>
                                  </div>
                                  <div class="card-content">
                                    <div class="media">

                                      <p class="title is-5" style=" ">Classcade</p>

                                    </div>
                                    <div class="content">

                                     <p class="subtitle is-5point5"> Helping university students discover clubs, events, and meet new friends during a remote semester.  </p>

                                <span class="tag classcade"><b>UX RESEARCH + DESIGN</b></span>
                                <span class="tag mark"><b>2020 • COMING SOON</b></span>
                                    </div>
                                  </div>
                                </div>
                          </a>
                            </div>

              <div class="column is-4 ">
                <a href="#">
                  <div class="card post">
                    <div class="card-image">
                      <figure class="image">
                        <img src="/assets/images/lotusmind_card_grad.png" alt="LotusMind" class=" img-top-rounded">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">

                        <p class="title is-5" style=" ">LotusMind</p>

                      </div>
                      <div class="content">
                       <p class="subtitle is-5point5"> Improving student mental health during COVID-19 using guided meditation and positive affirmations. </p>

                  <span class="tag lotusmind"><b>UX RESEARCH + DESIGN</b></span>
                  <span class="tag mark"><b>2020 • COMING SOON</b></span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

               <div class="column is-4">
              <a href="#">
                  <div class="card post">
                    <div class="card-image">
                      <figure class="image">
                        <img src="/assets/images/zaria_card_grad.png" alt="Zaria" class=" img-top-rounded">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">

                        <p class="title is-5" style=" ">Zaria</p>

                      </div>
                      <div class="content">

                       <p class="subtitle is-5point5"> Designing and developing a mobile-first health tracking app to empower breast cancer survivors after treatment. </p>

                  <span class="tag zaria"><b>UX ENGINEERING</b></span>
                  <span class="tag mark"><b>2020 • COMING SOON</b></span>
                      </div>
                    </div>
                  </div>
            </a>
              </div>





              </div>



          </div>



          </div>





          </section>
